<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card shadow-effect bg-secondary-theme mt-5">
        <div class="card-body text-center">
          <h3 class="text-theme-center">All Blog Posts</h3>
          <p>From Here you can manage all your blog posts</p>

          <button class="btn btn-info" routerLink="/posts/new">
            Add New Post
          </button>
          <button class="btn btn-warning ml-2" routerLink="/">
            Back to DashBoard
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="card shadow-effect">
        <div class="card-body">
          <table class="table row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Post Image</th>
                <th>Title</th>
                <th>Category</th>
                <th>Created Date</th>
                <th>Actions</th>
                <th>Featured</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let post of postList; index as num">
                <td width="10">{{ num + 1 }}</td>
                <td width="300">
                  <img
                    src="{{ post.data.postImgPath }}"
                    alt="Post Image"
                    class="img img-fluid"
                  />
                </td>
                <td>
                  <b> {{ post.data.title }} </b>
                </td>
                <td>
                  {{ post.data.category.category }}
                </td>
                <td>{{ post.data.createdAt | date : "dd/mm/yy" }}</td>
                <td width="250">
                  <div class="row">
                    <div class="col-sm-3">
                      <button
                        class="btn btn-warning"
                        routerLink="/posts/new"
                        [queryParams]="{ id: post.id }"
                      >
                        Edit
                      </button>
                    </div>
                    <div class="col-sm-3">
                      <button
                        class="btn btn-danger"
                        (click)="onDelete(post.data.postImgPath, post.id)"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-switch">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="{{ num + 1 }}"
                      (change)="featuredRegister(post.id, $event)"
                      [checked]="post.data.isFeatured"
                    />
                    <label class="custom-control-label" for="{{ num + 1 }}"
                      >Featured</label
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
