<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card shadow-effect bg-secondary-theme mt-5">
                <div class="card-body text-center">
                    <h3 class="text-theme-center">All Blog Posts</h3>
                    <p>From Here you can manage all your blog posts</p>

                    <button class="btn btn-info" routerLink="/posts/new">
                        Add New Post
                    </button>
                    <button class="btn btn-warning ml-2" routerLink="/">
                        Back to DashBoard
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
